[Desktop Entry]
Type=Application
Name=Hermes
GenericName=Hermes Desktop
Comment=Launch Hermes Desktop
Exec=/usr/local/bin/hermes desktop --skip-build
Icon=hermes
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=Hermes
